div {
  box-sizing: border-box;
}
span {
  user-select: none;
}

/* switch */

.section {
  width: 100%;
  padding: 12px;
  border: 1px solid #123456;
  border-radius: 12px;
  height: 125px;
}
.section:not(:first-child) {
  margin-top: 12px;
}
.description {
  width: 100%;
  padding: 12px;
  color: #123456;
}
.content {
  position: relative;
  width: 100%;
  padding: 12px;
}
.box {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 0;
}
.ball {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 12px;
  margin: 0;
}


.grid-cubic {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
}
.grid-cubic__section {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 15% 85%;
  border: 1px solid #123456;
  border-radius: 12px;
  height: 285px;
}

/* animations */
.left-up-right-down__3s-ease {
  animation: left-up-right-down__3s 3s infinite ease alternate;
}

.left-up-right-down__3s-ease-in {
  animation: left-up-right-down__3s 3s infinite ease-in alternate;
}

.left-up-right-down__3s-ease-out {
  animation: left-up-right-down__3s 3s infinite ease-out alternate;
}

.left-up-right-down__3s-ease-in-out {
  animation: left-up-right-down__3s 3s infinite ease-in-out alternate;
}

.left-up-right-down__3s-linear {
  animation: left-up-right-down__3s 3s infinite linear alternate;
}

.left-up-right-down__3s-custom-cubic {
  animation: left-up-right-down__3s 3s infinite cubic-bezier(0.123, 0.234, 0.345, 0.456) alternate;
}

.left-up-right-down__3s-ease-out-cubic {
  animation: left-up-right-down__3s 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}

.left-up-right-down__3s-ease-in-cubic {
  animation: left-up-right-down__3s 3s infinite cubic-bezier(0.47, 0, 0.745, 0.715) alternate;
}

.left-up-right-down__3s-ease-in-out-cubic {
  animation: left-up-right-down__3s 3s infinite cubic-bezier(0.77, 0, 0.175, 1) alternate;
}

/* @keyframes rules */
@keyframes left-up-right-down__3s {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: calc(100% - 25px); 
    left: calc(100% - 25px); 
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}